.current-title {
    line-height: 1.4;
    font-weight: 600;
    font-size: 24px;
}

.current-data {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.current-temp {
    font-weight: 600;
}

.current-feels {
    font-size: 14px;
}

.current-time {
    font-size: 14px;
}

/*Table*/

.weather-widget .table-bordered, .weather-graphic .table-bordered {
    border: 1px solid #ddd;
}

.weather-widget .table, .weather-graphic .table {
    width: 100%;
    margin-bottom: 20px;
    font-size: 14px;
}

.weather-widget table, .weather-graphic table {
    border-collapse: collapse;
    border-spacing: 0;
}

.weather-widget table, .weather-graphic table {
    max-width: 100%;
    background-color: transparent;
}

.weather-widget .table-striped > tbody > tr:nth-child(odd) > td, .weather-widget .table-striped > tbody > tr:nth-child(odd) > th, .weather-graphic .table-striped > tbody > tr:nth-child(odd) > td, .weather-graphic .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}

.table-bordered > tbody > tr > th, .weather-widget .table-bordered > tfoot > tr > th, .weather-widget .table-bordered > thead > tr > td, .weather-widget .table-bordered > tbody > tr > td, .weather-widget .table-bordered > tfoot > tr > td, .weather-graphic .table-bordered > thead > tr > th, .weather-graphic .table-bordered > tbody > tr > th, .weather-graphic .table-bordered > tfoot > tr > th, .weather-graphic .table-bordered > thead > tr > td, .weather-graphic .table-bordered > tbody > tr > td, .weather-graphic .table-bordered > tfoot > tr > td {
    border: 1px solid #ddd;
}

.weather-widget .table-condensed > thead > tr > th, .weather-widget .table-condensed > tbody > tr > th, .weather-widget .table-condensed > tfoot > tr > th, .weather-widget .table-condensed > thead > tr > td, .weather-widget .table-condensed > tbody > tr > td, .weather-widget .table-condensed > tfoot > tr > td, .weather-graphic .table-condensed > thead > tr > th, .weather-graphic .table-condensed > tbody > tr > th, .weather-graphic .table-condensed > tfoot > tr > th, .weather-graphic .table-condensed > thead > tr > td, .weather-graphic .table-condensed > tbody > tr > td, .weather-graphic .table-condensed > tfoot > tr > td {
    padding: 5px;
}

/*forecast*/

.forecast-item {
    display: flex;
    font-size: 14px;
}

.forecast-item-column-first {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.forecast-item-column-second {
    margin-left: 80px;
}
.forecast-item-row {
    display: flex;
    align-items: center;
    line-height: 1.8;
}

.forecast-item-time {
    display: inline-block;
}

.day-temp, .night-temp, .hour-temp {
    display: inline;
    padding: 4px;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.day-temp {
    background-color: #EB6E4B;
    opacity: 0.9;
}

.night-temp {
    background-color: #48484A;
    opacity: 0.9;
}

.hour-temp {
    background-color: rgb(153, 153, 153);
    border-radius: 10px;
}

.cloud-description {
    line-height: 1.2;
}

.forecast-item {
    border-bottom: 1px solid #e4e7ed;
    margin: 15px 0;
}

.forecast-item:last-child {
    border: none;
}

.el-input__suffix {
    margin-right: 30px;
}

/*hourly*/

.hourly-day-title {
    font-size: 14px;
    font-weight: 600;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #d9d9d9;
    background-color: #f4f4f4;
}


@media screen and (max-width: 500px) {
    .forecast-item-time {
        display: block;
    }
}
